/* ===========================
   Base
   =========================== */

body {
  color: $customGray;
  font-family: 'Open Sans', sans-serif;
}

header {
  margin-top: 10px;
  margin-bottom: 10px;
}

.searchBar {
  display: none;
}

#topline {
    margin-top: 10px;
    background-color: $customGold;
    height: 3px;
  @media (min-width: $screen-sm) {
    display: none;
   }
}

.blueIcon {
  height: 50px;
  width: 50px;
  background-color: $customBlue;
  color: white;
  margin: 5px;
  display: inline-block;
  float: right;
  text-align: center;
  padding: 8px;
  padding-top: 10px;
}

.filler {
  background-color: $mediumBlue;
  width: 100%;
  height: 15px;
}

#logo {
  font-size: 40px;
  color: black;
  padding-top: 100px;
}

.uppercase {
  text-transform: uppercase;
}

.menuCloseButton {
  display: block;
  float: right;
}

.desktopNav {
  @media (max-width: $screen-xs) {
    display: none;
   }
  @media (max-width: $screen-md) {
    display: none;
   }
  @media (min-width: $screen-lg) {
    // font-size: 18px;
   }
}

nav li {
  float: left;
  // // margin/padding 0 to remove browser default settings. i guess.
  // margin-left: 100px;
  padding: 10px;
  background-color: $customGray;
}

//for desktop nav...
#welcome {
  float: right;
}
