/* ===========================
   Base
   =========================== */


body {
  // background: #7cd7e0;
  color: $customGray;
  // font-size: 100%;
  // padding: rem(20);
  // text-align: center;
  // border: 1px solid red;
  //
  // @media (min-width: $screen-sm) {
  //   border: 20px solid blue;
  //  }

}

header {
  // background: $customGold;
  // height: 100px;
  // border-bottom-color: #7cd7e0;
  // text-align: center;
  // margin-left: 100px;
  // display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidenav {
  height: 100%;
  display: none;
  background-color: #bfbfbf;
  color: white;
  position: fixed;
  z-index: 1;
}

.icons {
  height: 200px;
  padding: 15px;
  background-color: $customGray;
}

.dropdown {
  border-top: 1px solid $customGray;
  border-bottom: 1px solid $customGray;
}

.dropdownHeader {
  padding: 30px;
  text-align: right;
  // : 50px;
}

.header-tiles {
  height: 50px;
  width: 50px;
  background-color: $customGold;
  text-align: center;
  padding: 2px;
  padding-top: 5px;
  margin: 2.5px;
  display: inline-block;
  // display: inline;
}

.header-tiles > p {
  color: white;
  font-size: 7px;
}

nav {
  display: none;
}

.sitenav {
  background-color: $customGray;
  padding-top: 10px;
  padding-bottom: 10px;
}

.date {
  font-size: 10px;
  color: #F1F1F1;
  text-align: right;
  padding-right: 8px;
  padding-bottom: 10px;
}
#newsTile {
  background-color: $customBlue;
  // height: 300px;
  // width: 300px;
  // margin: 10%;
  color: white;
  margin-top: 15px;
  // position: relative;

  @media (min-width: $screen-xs) {
    font-size: 14px;
   }

  @media (min-width: $screen-md) {
    font-size: 16px;
   }

  @media (min-width: $screen-lg) {
    font-size: 18px;
   }
}

.image-block {
    // border: 3px solid white ;
    padding: 0px;
    margin: 0px;
    height:200px;
    // text-align: center;
    vertical-align: bottom;

}

.image-block-small {
    padding: 0px;
    margin: 0px;
    height:150px;
    // text-align: center;
    vertical-align: bottom;
}

// .test {
//   display: block;
// }

.small-newsTile {
  // float: right;
  // display: inline-block;
}

#imagetest {
  // position: relative;
  width: 100%;
  height: 100%;
  // background: url(http://via.placeholder.com/500x350) no-repeat center top;
  // background-size:cover;
}

.bottom {
  // float: left;
  // height: 500px;
  // width: 500px;
  padding-left: 6px;
}

.search {
  display: none;
}

#topline {
  margin-top: 10px;
  background-color: $customGold;
  height: 3px;
}

// STUFF FOR ORANGE/ MEDIUM TILE
//
//
#orangeTile {
  background-color: $customGold;
  color: white;
}

.medium-newsTile {
  // display: inline-block;
  // vertical-align: bottom;
}

.left {
  height: 125px;
  width: 125px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  // display: inline-block;
}

.right {
  // display: inline-block;
  // text-align: center;
  height: 125px;
  padding-left: 125px;
  padding-top: 1px;
  margin-left: 10px;
  clear: right;
}

.orangeTile {
  // text-align: right;
  // display: inline-block;
  // clear: both;
  // float: right;
  margin-bottom: 10px;
}
//
//
//

.blueicon {
  height: 45px;
  width: 45px;
  background-color: $customBlue;
  color: white;
  margin: 5px;
  display: inline-block;
  float: right;
  text-align: center;
  padding: 8px;
}

.blueTile {
  background-color: $customBlue;
  color: white;
}

.grayTile {
  background-color: $customGray;
  color: white;
}

.lightGrayTile {
  // background-image: url("http://via.placeholder.com/150x100");
  background-color: #bfbfbf;
  color: white;
}

// nav {
//     border-left: 100px;
// }

nav li {
  float: left;
  // margin/padding 0 to remove browser default settings. i guess.
  margin-left: 100px;
  padding: 0;

}

footer {
    background: $customGray;
}

footer li {
  list-style-position: inside;
  list-style-type: square;
  color: $customGold;
  padding: 3px;
}

a {
  color: white;

}

a:hover {
  color: white;
}

.social {
  padding-top: 10px;
}

#welcome {
  // margin/padding 0 to remove browser default settings. i guess.
  float: right;
}

.skyline {
    text-align: center;
    height: 150px;
    width: 100%;
    padding: 40px;
}

.footer {
  background: $customGray;
  color: white;
  // height: 100px;
  p {
    color: $customGold
  }
}

.departments {
  padding-top: 10px;
}

#logo {
  font-size: 40px;
}


.input-group {

}

.multi-column {
   column-count: 2;
}

.links {
  color: $customGold;
  span {
    color: $customGold;
  }
}


.gray-linklist {
  @media (max-width: $screen-xs) {
    h4 {
      color: $customGray;
      background-color: #bfbfbf;
      height: 30px;
      width: 100%;
      padding: 5px;
    }

   }

  @media (min-width: $screen-md) {
    font-size: 16px;
   }
}

.wrapper-orangeheader {
  @media (max-width: $screen-xs) {
    h4 {
      color: white;
      background-color: $customGold;
      height: 30px;
      width: 100%;
      padding: 5px;
    }
   }

  @media (min-width: $screen-md) {
    font-size: 16px;
   }
}


//media queries.
