.sitenav {
  background-color: $customGray;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown {
  border-top: 1px solid $customGray;
  border-bottom: 1px solid $customGray;
  padding-top: 3px;
  h4 {
    padding-left: 15px;
  }
  ul {
    padding-left: 70px;
  }
  li {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.dropdownHeader {
  padding: 15px;
  border-bottom: 1px solid $customGray;
}

.icons {
  height: 200px;
  padding: 15px;
  // padding-left: 40px;
  padding-right: 20px;
  background-color: $customGray;
}

.header-tiles {
  height: 70px;
  width: 70px;
  background-color: $customGold;
  text-align: center;
  padding: 2px;
  padding-top: 7px;
  margin: 5px;
  display: inline-block;
}

.header-tiles > p {
  color: white;
  padding-top: 3px;
  font-size: 9px;
}
