.newsTile {
  background-color: $customBlue;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  @media (min-width: $screen-xs) {
    font-size: 14px;
   }
  @media (min-width: $screen-md) {
    font-size: 16px;
   }
  @media (min-width: $screen-lg) {
    font-size: 18px;
   }
}

.mediumNewsTile {
  margin-bottom: 20px;
  h4 {
    font-size: 20px;
    font-weight: bold;
  }
  h5 {
    font-size: 16px;
  }
}

.orangeTile {
  background-color: $customGold;
  color: white;
  h4 {
    // font-weight: 400;
  }
}

.blueTile {
  background-color: $customBlue;
  color: white;
}

.grayTile {
  background-color: $customGray;
  color: white;
}

.lightGrayTile {
  background-color: $mediumBlue;
  color: white;
}

.top {
  background: url(/tile-lg.jpg) no-repeat center top;
  background-size: cover;
}

.topLarge {
  background: url(/tile-lg.jpg) no-repeat center top;
  background-size: cover;
  // background-position: center;
}

.left {
  height: 150px;
  width: 150px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  background: url(/tile-md.jpg) no-repeat center top;
  background-size: cover;
}

.right {
  // display: inline-block;
  // text-align: center;
  height: 150px;
  padding-left: 150px;
  padding-top: 7px;
  margin-left: 10px;
  clear: right;
}

.imageBlock {
  padding: 0px;
  margin: 0px;
  height:200px;
  vertical-align: bottom;
}

.imageBlockSmall {
  padding: 0px;
  margin: 0px;
  height:100px;
  vertical-align: bottom;
}

.smallNewsTile {
  h5 {
    margin-bottom: 0;
  }
  margin-bottom: 20px;
}

.bottom {
  // float: left;
  // height: 500px;
  // width: 500px;
  padding-left: 10px;
}

.date {
  font-size: 10px;
  color: $newlightGray;
  text-align: right;
  padding-right: 8px;
  padding-bottom: 10px;
}

.mediumDate {
    padding-top: 50px;
    // THIS WILL BREAK BASED ON TEXT ABOVE...
}

.leftTileColumn {
  padding-right: 10px;
}

.rightTileColumn {
  padding-left: 10px;
}

.bottomTile {
  margin-bottom: 0px;
}

.tileTitle {
  //Just pulled something from a color picker...
  color: #ededed;
}
